# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SURGE Core
Comment=SURGE Core QT main network
GenericName=SURGE Digital Currency QT client main network
Exec=surge-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/surge.png
MimeType=x-scheme-handler/surge;
Categories=X-Office;X-Finance;
Keywords=internet;surge;zsrg;srg;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
